.margin-b30 {
    margin-bottom: 30px;
}
.card-header.date {
    text-align: center;
    font-weight: 700;
}
.card-footer {
    height: 64px;
}
.card-footer > button.right {
    float: right;
}
.card-footer > button.left {
    float: left;
}
.dpr-list > li {
    padding-bottom: 15px;
}
@media screen and (min-width: 0px) and (max-width: 991px) {
    p.filter-n-sort-title {
        /* display: inline-block; */
        display: block;
    }
}
.filter-n-sort {
    margin: 20px 0;
}
.filter-n-sort-title {
    font-weight: 500;
    font-size: 20px;
    padding-left: 2%;
}
.btn-add-project {
    padding-left: 40%;
    margin: 0 10px 20px 0;
}
.add-project-notes {
    float: right;
}
input.form-control {
    width: 90%;
    display: inline-block;
    margin-right: 2%;
}