<!-- <div class="card margin-b30">
    <div class="card-header date">{{ updateDataForDate | date: 'EEEE, d MMMM yyyy' }}</div>
    <div class="card-body">
        <span class="card-text">
            <ol class="dpr-list">
                <li *ngFor="let listItem of updateForContents; let i=index">
                    <input type="text" [(ngModel)]="listItem" class="form-control" #storeUpdates>
                </li>
            </ol>
        </span>
    </div>
    <div class="card-footer">
        <button (click)="cancelUpdates()" class="btn btn-dark left">Cancel</button>
        <button (click)="saveUpdates()" class="btn btn-dark right">Save</button>
    </div>
</div> -->
<!-- reactive form approach -->
<div class="card margin-b30">
    <form>
        <div class="card-header date">{{ updateDataForDate | date: 'EEEE, d MMMM yyyy' }}</div>
        <div class="card-body">
            <span class="card-text">
                <ol class="dpr-list">
                    <li *ngFor="let listItem of updateForContents; let i=index">
                        <input type="text" [(ngModel)]="listItem" class="form-control" #storeUpdates>
                    </li>
                </ol>
            </span>
        </div>
        <div class="card-footer">
            <button (click)="cancelUpdates()" class="btn btn-dark left">Cancel</button>
            <button (click)="saveUpdates()" class="btn btn-dark right">Save</button>
        </div>
    </form>
</div>