<section class="project-dpr">
    <div class="container-fluid">
        <h2 class="text-center margin-b30">Daily Progress Report</h2>

        <div class="row filter-n-sort">
            <div class="col-xs-12 col-md-4 offset-md-2">

            </div>
            <div class="col-xs-12 col-md-4 offset-md-2">
                <p class="filter-n-sort-title">Sort:</p>
                <div class="btn-group" role="group" aria-label="Sort">
                    <button type="button" (click)="sort('asc', 'date')" class="btn btn-light"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-light disabled">Modified Date</button>
                    <button type="button" (click)="sort('desc', 'date')" class="btn btn-light"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

        <div class="row offset-md-2">
            <div class="col-md-5 col-xs-12 align-card-deck">
                <div class="card">
                    <div class="card-header date">Monday, 10 December 2019</div>
                    <div class="card-header">LABOURS</div>
                    <div class="card-body">
                        <span class="card-text">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let labour of laboursArray">{{ labour.type }}: {{ labour.content }}
                                </li>
                            </ul>
                        </span>
                    </div>
                    <div class="card-header">MACHINERY</div>
                    <div class="card-body">
                        <span class="card-text">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let machine of machineryArray">{{ machine.type }}: {{ machine.content }}</li>
                            </ul>
                        </span>
                    </div>
                    <div class="card-header">MATERIAL</div>
                    <div class="card-body">
                        <span class="card-text">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let material of materialArray">{{ material.type }}: {{ material.content }}</li>
                            </ul>
                        </span>
                    </div>
                    <div class="card-header">ACTIVITIES</div>
                    <div class="card-body">
                        <span class="card-text">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let activity of activitiesArray">{{ activity.type }}</li>
                            </ul>
                        </span>
                    </div>
                    <div class="card-footer">
                        <button *ngIf="isDataUpdating" (click)="cancelUpdate()" class="btn btn-dark left">Cancel</button>
                        <button (click)="updateProjectDPR()" class="btn btn-dark right">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>