.margin-b30 {
    margin-bottom: 30px;
}
.card-header {
    font-weight: 500;
    text-align: left;
}
.card-header.date {
    text-align: center;
    font-weight: 700;
}
.card-footer > button.right {
    float: right;
    font-size: 14px;
    padding: 1%;
}
.card-footer > button.left {
    float: left;
    font-size: 14px;
    padding: 1%;
}
.align-card-deck {
    display: inline-block;
    margin: 0 20px 20px 0;
}
@media screen and (min-width: 0px) and (max-width: 991px) {
    p.filter-n-sort-title {
        /* display: inline-block; */
        display: block;
    }
}
.filter-n-sort {
    margin: 20px 0;
}
.filter-n-sort-title {
    font-weight: 500;
    font-size: 20px;
    padding-left: 2%;
}