.margin-b30 {
    margin-bottom: 30px;
}
.project-teams {
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    margin-top: -49px;
    padding-top: 10px;
    background-image: linear-gradient(white,grey);
}
.teams-social-links {
    color: inherit;
    text-decoration: none;
}
.teams-dispaly-pointer {
    cursor: pointer;
    padding: 0 5px;
}