.project-photos {
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    margin-top: -49px;
    padding-top: 10px;
    background-image: linear-gradient(white,grey);
}
.text-center-align {
    text-align: center;
    padding-bottom: 10px;
}
@media screen and (min-width: 0px) and (max-width: 991px) {
    p.filter-n-sort-title {
        /* display: inline-block; */
        display: block;
    }
}
.filter-n-sort {
    margin: 20px 0;
}
.filter-n-sort-title {
    font-weight: 500;
    font-size: 20px;
    padding-left: 2%;
}
.align-card-deck {
    display: inline-block;
    margin: 0 20px 20px 0;
}
.card-img-top {
    height: 250px;
}