<section class="project-plan">
    <div class="container-fluid">
        <h2 class="text-center"> Project Plan</h2>
        <app-filter-n-sort></app-filter-n-sort>
        <div class="row">
            <div class="col-xs-12 col-md-8 offset-md-2">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let project of projectPlanDetails">{{ project.name }}
                        <span class="badge badge-light badge-pill">{{ project.contents | formatProjectContents }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>