<section class="project-dpr">
    <div class="container-fluid">
        <h2 class="text-center margin-b30">Material Inward</h2>
        <!-- <app-filter-n-sort></app-filter-n-sort> -->
        <div class="row">
            <div class="col-xs-12 col-md-8 offset-md-2">
                <div class="card-deck margin-b30">
                    <div class="card">
                        <div class="card-header">11/01/2019</div>
                        <div class="card-body">
                            <span class="card-text">
                                <ul>
                                    <li>Concrete</li>
                                    <li>Steel</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">11/09/2019</div>
                        <div class="card-body">
                            <span class="card-text">
                                <ul>
                                    <li>Fly Ash</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>