<section class="project-material-inward">
    <div class="container-fluid">
        <h2 class="text-center margin-b30">Material Inward</h2>
        <!-- <app-filter-n-sort></app-filter-n-sort> -->

        <div class="text-center-align">
            <button class="btn btn-dark center" (click)="addNewMaterail()">
                Add Material
            </button>
        </div>

        <div class="row">
            <ng-template #loadingSpinner>
                <div class="col-xs-6 offset-xs-5.5 col-sm-5 offset-sm-6 col-md-6 offset-md-6">
                    <app-loading-spinner></app-loading-spinner>
                </div>
            </ng-template>
            <div class="col-xs-12 col-md-8 offset-md-2" *ngIf="!isDataLoading; else loadingSpinner">
                <app-add-material *ngIf="isDataAdding && !isDataUpdating"></app-add-material>
                 
                <app-update-material *ngIf="isDataUpdating && !isDataAdding" [updateForContents]="currentValue"></app-update-material>

                <ng-container *ngIf="!isDataUpdating && !isDataAdding">
                    <div class="card margin-b30" *ngFor="let item of tempMap | keyvalue: maintainOrder">
                        <div class="card-header date">{{ item.value.inward_date | date: 'EEEE, d MMMM yyyy' }}</div>
                        <div class="card-body">
                            <span class="card-text">
                                <ol class="material-list">
                                    <ng-container *ngFor="let material of item.value.materials">
                                        <li>{{ material.name }} : {{ material.quantity }}</li>
                                    </ng-container>
                                </ol>
                            </span>
                        </div>
                        <div class="card-footer">
                            <button (click)="updateProjectMaterial(item.key, item.value)" class="btn btn-dark right">Update</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>