.margin-b30 {
    margin-bottom: 30px;
}
.card-header.date {
    text-align: center;
    font-weight: 700;
}
.card-footer {
    height: 64px;
}
.card-footer > button.right {
    float: right;
}
.card-footer > button.left {
    float: left;
}
.dpr-list > li {
    padding-bottom: 15px;
}
@media screen and (min-width: 0px) and (max-width: 991px) {
    p.filter-n-sort-title {
        /* display: inline-block; */
        display: block;
    }
}
.filter-n-sort {
    margin: 20px 0;
}
.filter-n-sort-title {
    font-weight: 500;
    font-size: 20px;
    padding-left: 2%;
}
input.form-control {
    width: 90%;
    display: inline-block;
    margin-right: 2%;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}