/* anchor link for cards */
.anchor-card {
    color: inherit;
    text-decoration: none;
    width: 85%;
}
a:hover.anchor-card {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.add-project {
    /* float: right; */
    margin: 0 10px 20px 0;
    display: block;
}
div.card {
    margin-bottom: 20px;
    display: inline-block;
}
.fa.fa-minus-circle.fa-2x {
    margin-left: 10px;
}