#authenticate {
    margin-top: 20px;
}
#introduction {
    margin-top: 80px;
}
.margin-b30 {
    margin-bottom: 30px;
}

/* forms */
input.ng-invalid.ng-touched {
    border: 1px solid red;
}
span.help-block {
    color: red;
}