<app-header></app-header>
    <main>
        <section class="my-profile">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-8 offset-md-2">
                        <h2 class="text-left">My Profile</h2>
                        <table class="table table-responsive table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">Personal Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Name</th>
                                    <td>User Name</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email</th>
                                    <td>User Email</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-responsive table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="2">Change Password</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Current Password</th>
                                    <td><input type="password" class="form-control" id="current_password" name="current_password"></td>
                                </tr>
                                <tr>
                                    <th scope="row">New Password</th>
                                    <td><input type="password" class="form-control" id="new_password" name="new_password"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Retype new Password</th>
                                    <td><input type="password" class="form-control" id="new_password_confirm" name="new_password_confirm"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
<app-footer></app-footer>